# Profil stable/reproductible (recommande pour la majorite des runs)
COMPOSE_PROJECT_NAME=tech-app-devoir-ii

CUDA_IMAGE_TAG=12.9.1-cudnn-runtime-ubuntu24.04
ENABLE_RAPIDS=1
REQUIREMENTS_MODE=freeze

TZ=Etc/UTC
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility
NVIDIA_DISABLE_REQUIRE=1

JUPYTER_PORT=8888
JUPYTER_TOKEN=techapp

PIPELINE_MEM_LIMIT=24g
PIPELINE_MEMSWAP_LIMIT=24g
PIPELINE_SHM_SIZE=8g
PIPELINE_CPUS=12.0
